[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "LBFGSpp"]
	path = LBFGSpp
	url = https://github.com/yixuan/LBFGSpp.git
